*{
    padding: 0px;
    margin: 0px;
}


/* Website Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}


/* Website major colors */


.primary-fg{
    color: white;
}

.secondary-fg{
    color: #00FF88;
}

.primary-bg{
    background-color: #412567;
}

.secondary-bg{
    background-color: #230E3D;
}

.third-bg{
    background-color: #1A0B2E;
}

.grid-bg{
    background-color: #351165;
}

.featured-episodes-bg{
    background-color: #250D44;
}

.host-bg{
    background-color: #250D44;
}


.display-flex{
    display: flex;
}

/* navbar section */
.navbar{
    background-color: #1A0B2E;
    justify-content: space-around;
    padding:25px;
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav{
    width: 220px;
    list-style: none;
    justify-content: space-around;
    padding-top: 13px;

}
.nav-link{
   text-decoration: none;
   font-size: 1rem;
   font-weight: 100;
}

.linear{
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
}


.subscribe-btn{
    font-size: 1rem;
    color: white;
    width: 9.3rem;
    background-image: linear-gradient(28deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    border-radius: 1000px;
    padding: 5px;
}

/* nav section complete */




/* banner section */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-position: center;
    width: 1600px;
    height: 760px;
}

.banner-content{
    padding-top: 100px;
    text-align: center;
}

.banner-content h2{
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: bold;
}

.banner-content p{
    font-size: 1rem;
    font-weight: 100;
}

.banner-content button{
    margin-top: 20px;
    border-radius: 1000px;
    padding: 10px;
}

.spotify-btn{
    width: 180px;
    background-image: linear-gradient(28deg,#F7E93F,#FB09B4,#9100F8);
    border: none;
}

.sub-btn{
    width: 140px;
    background-color: transparent;
    border: 1px solid #00FF88;
    
}
/* banner section complete */


/* podcast section */
.podcast{
    height: 647px;
    background-color: #1A0B2E;
}


.podcast h3{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.podcast p{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.stats{
    justify-content: space-evenly;
    padding-top: 60px;
}

.number{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    text-align: center;
}

.number-desc{
    font-size: 1rem;
    font-weight: 200;
    color: white;
}
/* podcast section complete */


/* TechWave Grid Section */
.Techwave-grid{
    background-color: #1A0B2E;
    padding: 100px 0 120px;
}

.Techwave-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 35px;

    grid-template-areas:
      "box-1 box-2 box-2"
      "box-1 box-3 box-3"
      "box-4 box-4 box-5";

    max-width: 1200px;
    margin: 0 auto;
}

.box-1 { grid-area: box-1; }
.box-2 { grid-area: box-2; }
.box-3 { grid-area: box-3; }
.box-4 { grid-area: box-4; }
.box-5 { grid-area: box-5; }


.Grid{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 28px;
    padding: 36px;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 14px;
    min-height: 150px;
}

.Grid img{
    width: 60px;
    height: 60px;
}

.box-1{
    padding-top: 100px;
}

.box-2 img{
    height: 70px;
}

.Techwave-grid{
    background-color: #230E3D;
}

.Techwave-Grid-heading{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 72px;
    
}



.grid-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
   
}

.grid-pes{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
    
}

